{% extends 'openshed/base.html' %}
{% load form_helpers %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          {% render_field form.username %}
          {% render_field form.password %}
          <input type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
          <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}
